[project]
name = "auth"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "fastapi[all]>=0.127.1",
    "psycopg2>=2.9.11",
    "requests>=2.32.5",
]
